/* General Structure and Style */
.container{
	display: block;
}

.inline{
	width: 100%;
	display: inline-block;
	text-align: center;
}

/* Main */
/* Restaurant Card */
#restaurant {
	background-color: lightgray;
	height: 150px;
	width: 100%;
	padding: 20px;
	margin: 5px;
	display: flex;
}

#restaurant-info {
	width: 60%;
	height: 100%;
	background-color: pink;
}
#restaurant-name{
	width: 100%;
	height: 50%;
	background-color: yellow;
	text-align: left;
}

#restaurant-actions {
	display: flex;
	width: 100%;
	height: 50%;
	background-color: lightgreen;
}

.restaurant-action {
	width: 33%;
	background-color: darkgray;
	margin: 10px;
}

#restaurant-image {
	width: 40%;
	height: 100%;
	background-color: white;
}

/* Header */
#header-box {
	height: 75px;
	display: flex;
	padding: 0 20px;
	background-color: yellow;
}

#logo {
	width: 75px;
	height: 75px;
	margin: auto;
	background-color: white;
}

#logo-image {
	width: 100%;
	height: 100%;
}

#site-title {
	padding-right: 20px;
	margin: auto;
	width: 100%;
	height: 100%;
	text-align: left;
	background-color: green;
}

#name {
	font-weight: bold;
	text-align: right;
	background-color: blue;

}

#title {
	font-style: italic;
	text-align: right;
	background-color: skyblue;
}