/* General Structure and Style */
.container{
	display: block;
	margin: 5px;
	text-align: center;
}

.inline{
	width: 100%;
	display: inline-block;
	text-align: center;
}


.header-text {
	width: 100%;
	height: 50%;
	margin: auto;
}
/* Main */
#main {
	display: block;
}
/* Restaurant Card */
#card {
	background-color: white;
	height: 150px;
	width: 80%;
	padding: 20px;
	margin: 30px 30px 30px 30px;
	display: flex;
	box-shadow: 5px 10px 8px 10px #DCDCDC;
}

	#restaurant-info {
		width: 60%;
		height: 100%;
	}

		#restaurant-name{
			width: 100%;
			height: 50%;
			text-align: left;
		}

		#restaurant-actions {
			display: flex;
			width: 100%;
			height: 50%;
		}

			.restaurant-action {
				width: 33%;
				margin: 10px;
			}

	#restaurant-image {
		width: 40%;
		height: 100%;
	}

		.img{
		width: 150px;
		height: 150px;
		}
/* Top-bar*/
#top-bar {
	height: 30px;
	background-color: #D3D3D3;
	display: flex;
}
	#nav {
		width: 30%;
		text-align: center;

	}

	#messages {
		width: 40%;
		text-align: center;
	}

	#new-item {
		width: 30%;
		text-align: center;
	}

/* Header */
#header-box {
	height: 100px;
	display: flex;
	padding: 5px 50px 5px 50px;
}

	#logo {
		width: 100px;
		height: 100px;
		margin: auto;
	}

		#logo-image {
			width: 100%;
			height: 100%;
		}

#site-title {
	margin: auto;
	width: 80%;
	height: 100%;
}

	#name {
		font-weight: bold;
		text-align: right;
	}

	#title {
		font-style: italic;
		text-align: right;
	}