/* General Structure and Style */
.container{
	margin: 5px;
	display: block;
	background-color: black;
}

a{
	padding-bottom: 10px;
}

.inline{
	width: 100%;
	display: inline-block;
	text-align: center
}

/* Main */
#restaurant {
	background-color: gray;
}

/* Header */
#header-box {
	height: 75px;
	display: flex;
	padding: 0 20px;
}

#logo {
	width: 100px;
	height: 100px;
	margin: auto;
}

#logo-image {
	width: 100%;
	height: 100%;
}

#site-title {
	padding-right: 20px;
	margin: auto;
	width: 100%;
	text-align: left;
}

#name {
	font-weight: bold;
	text-align: right;

}

#title {
	font-style: italic;
	text-align: right;
}