<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Great places to eats in northern California!">
		<meta name="keywords" content="Food, Restaurant, NorCal, Foodie, California, Eat, Local">
		<title>NorCal Eats</title>
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<link rel="stylesheet" media='screen and (min-width:601px)' href="{{url_for('static', filename='medium.css')}}"> 
	</head>
	<body>
		<header>
			<div class="container" id="header-box">
				<div class="container" id = 'logo'>
					<img id="logo-image" src="static/img/nrc-logo.png" alt='NorCal Eats'>
				</div>
				<div class="container" id="site-title">
					<div class="container header-text">
						<h1 class="inline text" id="name">NorCal Eats</h1>
						</br>
					</div>
					<div class="container header-text">
						<h2 class="inline text" id="title">{{restaurant.name}}</h2>
					</div>
					
				</div>
			</div>
		</header>
		<div class="container" id="top-bar">
			<div class="container"  id="nav">
				<a href="{{url_for('newRestaurant')}}">Add a new Restaurant</a>
			</div>
			<div class="container" id="new-item">
				<a href = "{{url_for('newMenuItem', restaurant_id = restaurant.id) }}">Create New Item</a>
			</div>
			<div class="container" id="messages">
					{% with messages = get_flashed_messages() %}
				{% if messages %}

					<ul>
					{% for message in messages %}
					  	<li><strong>{{message}}</strong></li>
					{% endfor %}
					</ul>
					
					{% endif %}
				{% endwith %}
			</div>
		</div>

		{% for i in items %}

			<div>

				<b>{{i.name}}</b></br>

				{{i.description}}</br>

				{{i.price}}</br>
				{{i.course}}</br>
				
				<a href="{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}">Edit</a></br>

				<a href="{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}">Delete</a></br>
				</br>



			</div>

		{% endfor %}

	</body>

</html>