<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Great places to eats in northern California!">
		<meta name="keywords" content="Food, Restaurant, NorCal, Foodie, California, Eat, Local">
		<title>NorCal Eats</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<header>

		</header>

		<h1>NorCal Eats</h1>
			{% with messages = get_flashed_messages() %}
		{% if messages %}

			<ul>
			{% for message in messages %}
			  	<li><strong>{{message}}</strong></li>
			{% endfor %}
			</ul>
			
			{% endif %}
		{% endwith %}

		<a href="{{url_for('newRestaurant')}}">Add a new Restaurant</a></br>
		</br>

		{% for restaurant in restaurants %}
			<div>

				<b>{{restaurant.name}}</b></br>

				<a href="{{url_for('showMenu', restaurant_id=restaurant.id)}}">Menu</a></br>

				<a href="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}">Edit</a></br>

				<a href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}">Delete</a></br>
				</br>

			</div>

		{% endfor %}

	</body>

</html>