<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Great places to eats in northern California!">
		<meta name="keywords" content="Food, Restaurant, NorCal, Foodie, California, Eat, Local">
		<title>NorCal Eats</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<header>
			<div class="container" id="header-box">
				<div id = 'logo'>
					<img id="logo-image" src="static/img/nrc-logo.png" alt='NorCal Eats'>
				</div>
				<div id="site-title">
					<h1 class="inline text" id="name">NorCal Eats</h1>
				</br>
					<h2 class="inline text" id="title">Restaurants</h2>
				</div>
			</div>
		</header>

			{% with messages = get_flashed_messages() %}
		{% if messages %}

			<ul>
			{% for message in messages %}
			  	<li><strong>{{message}}</strong></li>
			{% endfor %}
			</ul>
			
			{% endif %}
		{% endwith %}

		<a href="{{url_for('newRestaurant')}}">Add a new Restaurant</a></br>
		</br>
		<main>

			{% for restaurant in restaurants %}
				<div class="container" id="restaurant">

					<div class="container" id="restaurant-info">
						<div class="container" id="restaurant-name">
							<b>{{restaurant.name}}</b></br>
						</div>
						<div class="container" id="restaurant-actions">
							<div class="container restaurant-action">
								<a class="inline" href="{{url_for('showMenu', restaurant_id=restaurant.id)}}">Menu</a></br>
							</div>
							<div class="container restaurant-action">
								<a class="inline" href="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}">Edit</a></br>
							</div>
							<div class="container restaurant-action">
								<a  class="inline" href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}">Delete</a></br>
							</div>
						</div>
						</br>
					</div>
					<div class="container" id="restaurant-image">

					</div>


				</div>

			{% endfor %}
		</main>
	</body>

</html>