<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Great places to eats in northern California!">
		<meta name="keywords" content="Food, Restaurant, NorCal, Foodie, California, Eat, Local">
		<title>NorCal Eats</title>
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<link rel="stylesheet" media='screen and (min-width:601px)' href="{{url_for('static', filename='medium.css')}}">

	</head>
	<body>
		<header>
			<div class="container" id="header-box">
				<div class="container" id = 'logo'>
					<img id="logo-image" src="static/img/nrc-logo.png" alt='NorCal Eats'>
				</div>
				<div class="container" id="site-title">
					<div class="container header-text">
						<h1 class="inline text" id="name">NorCal Eats</h1>
						</br>
					</div>
					<div class="container header-text">
						<h2 class="inline text" id="title">Restaurants</h2>
					</div>
					
				</div>
			</div>
		</header>

		<div class="container" id="top-bar">
			<div class="container"  id="nav">
				<a href="{{url_for('newRestaurant')}}">Add a new Restaurant</a>
			</div>

			<div class="container" id="messages">
					{% with messages = get_flashed_messages() %}
				{% if messages %}

					<ul>
					{% for message in messages %}
					  	<li><strong>{{message}}</strong></li>
					{% endfor %}
					</ul>
					
					{% endif %}
				{% endwith %}
			</div>
		</div>

		<main class="container" id="main">

			{% for restaurant in restaurants %}
				<div class="container card">

					<div class="container" id="restaurant-info">
						<div class="container" id="restaurant-name">
							<b><h2>{{restaurant.name}}</h2></b>
						</div>

						<div class="container" id="restaurant-actions">
							<div class="container restaurant-action">
								<a class="inline" href="{{url_for('showMenu', restaurant_id=restaurant.id)}}">Menu</a>
							</div>
							<div class="container restaurant-action">
								<a class="inline" href="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}">Edit</a>
							</div>
							<div class="container restaurant-action">
								<a  class="inline" href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}">Delete</a>
							</div>
						</div>
						</br>
					</div>
					<div class="container" id="restaurant-image">
						<img src='static/img/restaurant_img.png' class="img" alt="Restaurant Image"/>

					</div>


				</div>

			{% endfor %}
		</main>
	</body>

</html>